.answer1{
    padding: 20px 0;
}

.gif1{
    width: 50%;
    height: 500px;
}

.span1{
    padding-left: 310px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 90ch;
    text-align: center;
    justify-content: center;

    animation:typing 5s steps(32), blink .5s infinite step-end alternate;
    overflow:hidden;
}

@keyframes typing{
    from{width:0}
}

@keyframes blinck{
    from {width:0}
}
