$main-color:#087434;

.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(207, 207, 207) 50%, $main-color 50%);
.titu{
    font-size: 30px;
}
    .login-contain{
        height: 70vh;
        width: 80%;
        background: linear-gradient(to right bottom, rgba(236, 236, 236, 0.7), rgba(236,236,236, 0.3));
        border-radius: 1rem;
        margin: 2rem auto;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
        display: flex;

        .left-side1, .rigth-side1{
            margin: 2rem 2rem;
            box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
            height: 90%;
            width: 100%;
        }
        .left-side1{
            display: flex;
            flex-direction: column;


            .input2{
                display: block;
                border: none;
                height: 2rem;
                width: 70%;
                margin: auto;
                margin-bottom: 1.5rem;
                padding: 0.2rem 1rem;
                font-size: small;
                color: gray;
                transition: all 0.3s ease-in-out;
                &:focus{
                    outline: none;
                    border: none;
                }
                &:hover{
                    outline: 0.5px solid $main-color;
                    box-shadow: 0.5px 0.5px 6px -1px $main-color;
                }
            }

            .label2 {
                display: block;
                margin: auto;
                float: left;
                width: 70%;
                font-size: 20px;
                color: black;

            }
            .submit{
                text-align: center;
                align-items: center;
            }
            .submit-btn1{
                
                background:$main-color ;
                color: white;
                border: none;
                cursor: pointer;
                transition: all 0.3 ease;
                align-items: center;
                &:hover{
                    box-shadow: 0.5px 0.5px 6px -1px black;
                    transform: translateY(-5px);
                }
            }
        }
        .rigth-side1{
            display: flex;
            flex-direction: column;
            .welcomenote1{
                h3{
                    margin-left: 1rem;
                    color: black;
                    padding-top: 20px;
                    font-size: 30px;
                }
            }
            .welcomeimg1{
                display: flex;
                height: 90%;
                width: 90%;
                margin: 0rem auto;
                justify-content: center;
                align-items: center;

                #wel-img-id1{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}